In [88]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.utils import to_categorical

In [78]:
def transform_data(data, lag = 1, test_split = 0.1, normalize = False):
    
    data_values = data.values
    
    if 0 < test_split < 1.0:
        l = data_values.shape[0]
        train_values = data_values[:-int(test_split*l),:]
        test_values = data_values[-int(test_split*l):,:]
        
    elif test_split > 1 and type(test_split) is int:

        train_values = data_values[:-test_split,:]
        test_values = data_values[-test_split:,:]
        
    else:
        print('Test split not understood. Test split should be float between 0 and 1 or integer for index')
    
    assert test_values.shape[0] > (lag + 1)
    
          
    if normalize:
        
        test_values = (test_values - np.min(train_values)/(np.max(train_values) - np.min(train_values)))
        train_values = (train_values - np.min(train_values))/(np.max(train_values) - np.min(train_values))
        
    train_data = np.zeros((train_values.shape[0] - (lag + 1), lag + 2))
    test_data = np.zeros((test_values.shape[0], lag + 2))
    
    
    all_data = np.vstack((train_values,test_values))
    new_data = np.zeros((train_values.shape[0] - (lag + 1) + test_values.shape[0],lag + 2))
    
    
    
    for i in range(lag + 2):
        new_data[:,i] = all_data[i:new_data.shape[0]+i,0]
        
    train_data = new_data[:-test_values.shape[0],:]
    test_data = new_data[-test_values.shape[0]:,:]
    
    data_columns = [f'y(t{i})' if i < 0 else 'y(t)' if i == 0 else f'y(t+{i})' for i in range(-lag,2)]    
    new_train_df = pd.DataFrame(train_data, columns=data_columns)
    new_test_df = pd.DataFrame(test_data, columns=data_columns)
    
    
    return new_train_df, new_test_df

In [10]:
raw_data = pd.read_csv('atmosfera_t.data',header=None)

In [11]:
a = raw_data.values

In [13]:
np.max(a)

21.6

0      18.4
1      17.4
2      17.1
3      16.6
4      15.8
       ...
360    21.2
361    20.3
362    19.2
363    21.6
364    19.8
Length: 365, dtype: float64

In [85]:
train,test = transform_data(raw_data,lag=5,test_split = 0.2,normalize=True)

In [86]:
train

       y(t-5)    y(t-4)    y(t-3)    y(t-2)    y(t-1)      y(t)    y(t+1)
0    0.825806  0.761290  0.741935  0.709677  0.658065  0.832258  0.754839
1    0.761290  0.741935  0.709677  0.658065  0.832258  0.754839  0.845161
2    0.741935  0.709677  0.658065  0.832258  0.754839  0.845161  0.903226
3    0.709677  0.658065  0.832258  0.754839  0.845161  0.903226  0.870968
4    0.658065  0.832258  0.754839  0.845161  0.903226  0.870968  0.858065
..        ...       ...       ...       ...       ...       ...       ...
281  0.645161  0.696774  0.800000  0.677419  0.741935  0.819355  0.806452
282  0.696774  0.800000  0.677419  0.741935  0.819355  0.806452  0.612903
283  0.800000  0.677419  0.741935  0.819355  0.806452  0.612903  0.503226
284  0.677419  0.741935  0.819355  0.806452  0.612903  0.503226  0.477419
285  0.741935  0.819355  0.806452  0.612903  0.503226  0.477419  0.503226

[286 rows x 7 columns]

In [87]:
test

       y(t-5)     y(t-4)     y(t-3)     y(t-2)     y(t-1)       y(t)    y(t+1)
0    0.819355   0.806452   0.612903   0.503226   0.477419   0.503226  15.03871
1    0.806452   0.612903   0.503226   0.477419   0.503226  15.038710  15.43871
2    0.612903   0.503226   0.477419   0.503226  15.038710  15.438710  14.83871
3    0.503226   0.477419   0.503226  15.038710  15.438710  14.838710  15.33871
4    0.477419   0.503226  15.038710  15.438710  14.838710  15.338710  15.93871
..        ...        ...        ...        ...        ...        ...       ...
68  19.738710  18.738710  20.738710  20.738710  20.438710  20.338710  20.83871
69  18.738710  20.738710  20.738710  20.438710  20.338710  20.838710  19.93871
70  20.738710  20.738710  20.438710  20.338710  20.838710  19.938710  18.83871
71  20.738710  20.438710  20.338710  20.838710  19.938710  18.838710  21.23871
72  20.438710  20.338710  20.838710  19.938710  18.838710  21.238710  19.43871

[73 rows x 7 columns]

In [89]:
train_values = train.values

x_train = train_values[:,:-1]
y_train = train_values[:,-1]

test_values = test.values
x_test = test_values[:,:-1]
y_test = test_values[:,-1]

In [ ]:
def create_model(hidden_neurons = [4], hidden_activation = ['relu'], output_activation='softmax', lr = 0.05, n_input = 1, n_output = 1):
    # create model
    model = Sequential()
    model.add(Dense(hidden_neurons[0], input_dim=n_input, activation='relu'))
    for i in range(1,len(hidden_neurons)):
        model.add(Dense(hidden_neurons[i], input_dim=hidden_neurons[i-1], activation='relu'))
        

    model.add(Dense(n_output, activation=output_activation))
    # Compile model
    opt = Adam(lr=lr)
    model.compile(loss='mean_squared_error', optimizer=opt, metrics=['mean_squared_error'])
    return model